.form {
    width: 100%;
    position: relative;
    &.error {
        input {
            border: 1px solid var(--red);
        }
        span {
            display: block;
            margin-top: 8px;
        }
    }
    span {
        display: none;
        transition: var(--transition);
    }
    &__input {
        padding: 20px 24px;
        padding-right: 45px;
        width: 100%;
        color: #2d2d2d25;
        font-weight: bold;
        font-family: inherit;
        font-size: 20px;
        line-height: 24px;
        background: var(--gray-light);
        border: 1px solid var(--gray-light);
        border-radius: var(--radius);
        transition: var(--transition);
        &[placeholder] {
            color: var(--black-2d);
        }
        &:focus {
            border: 1px solid var(--purple);
        }
    }
    &__search {
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
        transition: var(--transition);
        &:hover {
            transform: scale(1.04) translateY(-1px);
        }
    }
}
body[data-theme="dark"] {
    .form {
        &__input {
            border: 1px solid var(--black-1f);
            background: var(--black-1f);
        }
    }
}
.dictionary {
    &__audio {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        display: block;
        align-items: center;
        justify-content: center;
        background: #a445ed25;
        transition: var(--transition);
        cursor: pointer;
        &:hover {
            background: var(--purple);
            i {
                color: var(--white);
            }
        }
        i {
            font-size: 21px;
            color: var(--purple);
            transition: var(--transition);
            margin-left: 4px;
        }
    }
}

@media (max-width: 576px) {
    .form {
        &__input {
            padding: 14px 24px;
            font-size: 16px;
            line-height: 19px;
        }
        &__search {
            top: 16px;
        }
    }
    .dictionary {
        &__audio {
            width: 48px;
            height: 48px;
            i {
                font-size: 13px;
                margin-left: 2px;
            }
        }
    }
}
